/*--------------------Style général--------------------*/

#choixNiveau .landscape{
    display: none;
}

#choixNiveau{
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#choixNiveau .portrait{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*paysage*/
@media screen and (orientation: landscape) ,
screen and (min-width:500px) {   
    #choixNiveau .portrait{
        display: none;
    }
    #choixNiveau .landscape{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

/*--------------------Portrait--------------------*/
.portrait{
    height: auto;
    width: 100%;
    font-size: 32px;
}

.portrait img{
    width: 50%;
}

/*--------------------Paysage--------------------*/
/*--------------------Style du haut de l'écran--------------------*/

#choixNiveau .landscape #topBlock{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    font-size: 32px;
}

#choixNiveau #btnBlock{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#choixNiveau #btnBlock .btn{
    border-radius: 10px;
    cursor: grab;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #390A03;
    color: white;
}

#choixNiveau #btnBlock .btn:hover{
    background-color: #ED9D67;
}

/*--------------------Style du bas de l'écran--------------------*/

#choixNiveau .landscape #bottomBlock {
    height: 100%;
    display: flex;
    justify-content: space-between; /* Ajouté */
    align-items: flex-end; /* Ajouté pour aligner en bas */
    padding: 0 20px; /* Optionnel pour un peu d’espace */
    position: relative; /* Important */
}


/*--------------------Style image sebi et james--------------------*/
.sebi-lvl {
    position: relative;
    display: flex;
    gap: 10px;
}

.sebi-lvl img {
    transform: scaleX(-1);
    height: 20vw;
    max-height: 200px;
    position: relative; /* Plus besoin d'absolu ici */
}

/* La bulle au-dessus de Sebi */
.sebi-lvl .bulle {
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    max-width: 250px;
    font-size: 14px;
    padding: 10px;
}

/* James */
.james-lvl {
    display: flex;
    align-items: flex-end;
    height: auto;
}

.james-lvl img {
    height: 20vw;
    max-height: 200px;
    position: relative;
}