.game-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.game-image {
    object-fit: contain;
    border-radius: 15px;
    overflow: hidden;
    max-height: 150px;
}

.game-name {
    margin-top: 10px;
    font-size: 18px;
    color:white;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .game-image {
        max-height: none;
        height: clamp(10px, 15vw, 220px);
    }

}